<!DOCTYPE html>
<html lang="en">
<head>
	<title>APRS passcode generator</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="APRS,APRS-IS,code,passcode,callpass,callsign">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>
