{% extends "base.j2" %}
{% block body %}
	<h1><strong>APRS</strong> <i>passcode</i> generator</h1>
	<form action="/code" method="post">
		<input type="text" name="callsign" placeholder="Enter your USA callsign" autofocus required pattern="{{ pattern }}">
		<button type="submit">Go</button>
	</form>
	<div>You can also get JSON from <a href="/json/AB3DEF">/json/AB3DEF</a> for any US callsign. Read <a href="/docs">the docs</a>.</div>
{% endblock body %}
