/* Layout styling */
html {
	background-color: rgb(205,205,205);
	background-image: url("../images/noise.svg");
	background-position: top;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
}

body {
	background-color: rgb(255,250,205);
	max-width: 30rem;
	width: 90%;
	padding: 0.31rem;
	border: 0.31rem solid rgb(180,180,180);
	text-align: center;
}

/* Title */
h1 {
	display: block;
	background-color: rgb(245,240,195);
	font-size: 1.9rem;
	font-weight: 500;
	padding: 0.2rem 2rem;
	margin: 0 auto 0.25rem;
}

h1 a {
	color: inherit;
	text-decoration: none;
}

/* Input styling */
form {
	display: flex;
	width: 100%;
}

form * {
	border-radius: 0.15rem;
	text-align: center;
}

form input {
	flex-grow: 8;
	font-size: 1.25rem;
	padding: 0.25rem 0.07rem;
	margin: 0 0.25rem 0 0;
	border: 2px solid rgb(238, 238, 238);
}

form button {
	flex-shrink: 1;
	padding: 0.56rem 0.81rem;
	background-color: rgba(245,240,195, .7);
	color: #444;
	color: rgba(0, 0, 0, .8);
	border: 1px solid #999;
	border: transparent;
}

form button:focus,
form button:hover {
    outline: 0;
    filter: alpha(opacity=90);
    background-color: rgba(225,220,175, .6);
}

form button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
    border-color: #000;
}

/* Info styling */
div.info {
	font-family: Georgia;
	font-weight: 700;
	font-size: 600%;
	letter-spacing: 0.32rem;
	padding-bottom: 1rem;
	color: rgb(235,230,185);
	text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px, rgba(255,255,255,0.8) 0 1px, rgba(0,0,0,0.15) -1px -2px;
}

/* Sub-text */
form + div {
	position: absolute;
	bottom: 2.19rem;
	width: 480px;
	text-align: center;

	font-family: Helvetica, Verdana, Georgia, Tahoma;
	font-size: 0.69rem;
	color: rgb(150,150,150);
	text-shadow: 0px 1px rgb(230,230,230);
}

form + div a {
	text-decoration: none;
	color: #6fabd5;
	opacity: 0.9;
}


/* mobile */
@media all and (max-width: 800px) {
	form + div { display: none; }
}
